$header-background-image: url("./../img/m-h-night.jpg");
$accent-color: #ff4e33;
$button-bannerleft: #e3ac00;
$bannerright: #922b52;
$titles-text: #fff;
$main-text: #fff;
$main-background: #21232e;

$card-footer-background: #3b3f50;

