$header-background-image: url("./../img/m-h-day.jpg");
$accent-color: #14a0c7;
$button-bannerleft: #699900;
$bannerright: #2c5adb;
$titles-text: #21232e;
$main-text: #fff;
$main-background: #fff;
$card-footer-background: #21232e;